---

# For more info on the checks enabled see: https://clang.llvm.org/extra/clang-tidy/checks/list.html

Checks: '
-*,

modernize-*,
-modernize-use-trailing-return-type,
-modernize-use-auto,

readability-*,
-readability-identifier-length,
-readability-uppercase-literal-suffix,
-readability-use-anyofallof,
-readability-else-after-return,
-readability-redundant-member-init,

performance-*,

misc-*,
-misc-non-private-member-variables-in-classes,

bugprone-*

cppcoreguidelines-*
clang-analyzer-*
'

CheckOptions:

  # Naming convention for classes
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassPrefix
    value: ''
  - key: readability-identifier-naming.ClassSuffix
    value: ''

  # Naming convention for structs
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.StructPrefix
    value: ''
  - key: readability-identifier-naming.StructSuffix
    value: ''

  # Naming convention for functions
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.FunctionPrefix
    value: ''
  - key: readability-identifier-naming.FunctionSuffix
    value: ''

  # Naming convention for methods
  - key: readability-identifier-naming.MethodCase
    value: camelBack
  - key: readability-identifier-naming.MethodPrefix
    value: ''
  - key: readability-identifier-naming.MethodSuffix
    value: ''

  # Naming convention for variables
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.VariablePrefix
    value: ''
  - key: readability-identifier-naming.VariableSuffix
    value: ''

  # Naming convention for public member variables
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key: readability-identifier-naming.PublicMemberPrefix
    value: ''
  - key: readability-identifier-naming.PublicMemberSuffix
    value: ''

  # Naming convention for member variables
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.MemberPrefix
    value: ''
  - key: readability-identifier-naming.MemberSuffix
    value: ''

  # Naming convention for constexpr variables
  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstexprVariablePrefix
    value: ''
  - key: readability-identifier-naming.ConstexprVariableSuffix
    value: ''

  # Naming convention for template parameters
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateParameterPrefix
    value: ''
  - key: readability-identifier-naming.TemplateParameterSuffix
    value: ''

  # Naming convention for namespaces
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.NamespacePrefix
    value: ''
  - key: readability-identifier-naming.NamespaceSuffix
    value: ''

  # Naming convention for macros
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionPrefix
    value: ''
  - key: readability-identifier-naming.MacroDefinitionSuffix
    value: ''

  # Naming convention for enum constants
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantPrefix
    value: ''
  - key: readability-identifier-naming.EnumConstantSuffix
    value: ''

  # Naming convention for enums
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumPrefix
    value: ''
  - key: readability-identifier-naming.EnumSuffix
    value: ''

  # Naming convention for using alias
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasPrefix
    value: ''
  - key: readability-identifier-naming.TypeAliasSuffix
    value: ''
