[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "external/visit_struct"]
	path = external/visit_struct
	url = https://github.com/cbeck88/visit_struct
[submodule "external/Jolt"]
	path = external/Jolt
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/angelscript"]
	path = external/angelscript
	url = https://github.com/anjo76/angelscript.git
[submodule "external/rttr"]
	path = external/rttr
	url = https://github.com/santiberna/rttr-smallfix.git
